[submodule "Saber/vendor/spdlog"]
	path = Saber/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Saber/vendor/glfw"]
	path = Saber/vendor/glfw
	url = https://github.com/kongfanzhi/glfw.git
[submodule "Saber/vendor/imgui"]
	path = Saber/vendor/imgui
	url = https://github.com/kongfanzhi/imgui.git
[submodule "Saber/vendor/glm"]
	path = Saber/vendor/glm
	url = https://github.com/g-truc/glm
