[submodule "Saber/vendor/spdlog"]
	path = Saber/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Saber/vendor/GLFW"]
	path = Saber/vendor/GLFW
	url = https://github.com/glfw/glfw.git
